[sys]
env = dev
close_trytimes = 3

[redis_dev]
host = 127.0.0.1
db = 1

[redis_online]
host = 127.0.0.1
db = 1

[mysql_online]
host = 127.0.0.1
user = root
password = 123
name = ctp_trade_online

[mysql_dev]
host = 127.0.0.1
user = root
password = 123
name = ctp_trade_dev

[channel]
tick = tick_%s
trade = trade
trade_rsp = trade_rsp_%s
service = trade_srv_%s
service_rsp = trade_srv_rsp_%s

[path]
root = /app/root/path
log = %(root)s/logs
